@model IEnumerable<Northwind.Utility.Model.ViewModel.EmployeeViewModel>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container p-4 border">
   <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Employee List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Employee" asp-action="Insert" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Employee</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>    
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Title</td>
                    <td>
                        <a asp-controller="Employee" asp-action="Edit" asp-route-Id="@item.EmployeeId" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="Employee" asp-action="Delete" asp-route-Id="@item.EmployeeId" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>